{% import "macros/form.html" as form %}

<form id="sub-theme-form" action="" method="post">
  {{ form.errors(error_summary) }}
  {{ form.input("name", id="field-name", label=_("Name"), placeholder=_("name"), value=data.name, error=errors.name, classes=["control-medium"], is_required=True) }}
  {{ form.markdown('description', label=_('Description'), id='field-description', placeholder=_('A little information about my sub-theme...'), value=data.description, error=errors.description) }}
  {{ form.select('theme', label=_('Theme'), options=theme_options, selected=theme, error=errors.theme, is_required=True) }}

  {{ form.required_message() }}

  <div class="form-actions">
    {% block form_actions %}
      {% if h.check_access('sub_theme_delete', {'user': user}) %}
        <a class="btn btn-danger pull-left" href="{% url_for 'sub_theme.delete', id=id %}" data-module="confirm-action" data-module-content="{{ _('Are you sure you want to delete this Sub-Theme?') }}">{% block delete_button_text %}{{_('Delete') }}{% endblock %}</a>
      {% endif %}
      <button class="btn btn-primary" type="submit" name="save">{{ _('Update Sub-Theme') }}</button>
    {% endblock %}
  </div>
</form>