{% ckan_extends %}

{{ super() }}
{% block subtitle %}{{ _('Functional Units') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Functional Units'), controller='organization', action='index', named_route=group_type + '_index' %}</li>
{% endblock %}

{% block page_primary_action %}
  {% if h.check_access('organization_create') %}
    {% link_for _('Add Functional Unit'), controller='organization', action='new', class_='btn btn-primary', icon='plus-square', named_route=group_type + '_new' %}
  {% endif %}
{% endblock %}

{% block primary_content_inner %}
  <h1 class="hide-heading">{% block page_heading %}{{ _('Functional Units') }}{% endblock %}</h1>

  {% block organizations_list %}
    {% if c.page.items or request.params %}
      {% if c.page.items %}
        {% snippet "organization/snippets/organization_list.html", organizations=c.page.items %}
      {% endif %}
    {% else %}
      <p class="empty">
        {{ _('There are currently no functional units for this site') }}.
        {% if h.check_access('organization_create') %}
          {% link_for _('How about creating one?'), controller='organization', action='new' %}</a>.
        {% endif %}
      </p>
    {% endif %}
   {% endblock %}
{% endblock %}