[groups]

table =
  vendor/nunjucks.js
  vendor/d3/d3.js
  vendor/datatables/dataTables.js
  vendor/datatables/dataTables.css
  vendor/datatables/dataTables.buttons.js
  vendor/datatables/buttons.html5.js
  vendor/datatables/pdfmake.js
  vendor/datatables/vfs_fonts.js
  vendor/datatables/jszip.js
  javascript/modules/table.js

chart =
  vendor/nunjucks.js
  vendor/d3/d3.js
  vendor/c3/c3.css
  vendor/c3/c3.js
  javascript/modules/chart.js
  javascript/modules/chart-to-png.js
  vendor/save-svg-png.js

map =
  vendor/chroma.js
  vendor/d3/d3.js
  vendor/leaflet/leaflet-src.js
  vendor/leaflet/leaflet.css
  javascript/leaflet-download.js
  vendor/leaflet/topojson.js
  javascript/modules/map.js


user_profile = 
  javascript/modules/user_profile.js