pymssql==2.1.4
functools32==3.2.3.post2
tensorflow==1.6.0
keras==2.2.4
h5py==2.9.0
filelock==3.0.12
spacy==2.2.3
goodtables==1.5.1
hdx-python-api==4.3.0
humanize==1.0.0
pycountry==19.8.18
pyrsistent == 0.16.0
