.notifications-list {
    z-index: 1001;
    width: 250px;
    margin-top: 0px;
    padding: 0;


    .notification-item {
        color: @gray-dark;
        cursor: pointer;
        padding: 15px 10px 15px 10px;
        margin-top: 0;
        background-color: lighten(@gray-lightest, 20%);


        &:hover {
            transition: 0.2s;
            color: @gray-dark;
            background: lighten(@brand-primary, 40%);

        }


        .notification-title {
            color: @gray-darker;
            display: block;
            size: 1.3em;
            line-height: normal;
            padding: 0px;

            &:hover {
                color: @gray-darker;
            }
        }

        .notification-content {
            margin-left: 4px;
        }
    }
}

.notification-border {
    border-bottom: 0.4px @gray-lightest solid;

}


.notifications-header {

    .badge {
        border-radius: 4px;
        padding: 1px 6px;
        background-color: #000;
    }

    .dropdown {
        cursor: pointer;
    }

    .dropdown.open {
        background-color: @gray-lightest;

        .fa {
            color: @gray-dark;
        }

    }
}