.text-wrap{
    word-wrap: break-word;
    width: 100%;
}
.text-ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.label-open.label{
    background-color: @brand-green;
  }
  .label-closed.label{
    background-color: @brand-danger;
  }
