{% ckan_extends %}

{% set locale_root = h.url_for('/', qualified=true) %}
{%block links %}

{{ super() }}

<link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet"/>

{% endblock %} {% block styles %}
{{ super() }}
{% resource  'knowledgehub/css/main.css' %}
{% resource 'knowledgehub/vendor/c3/c3.css' %}
{% resource 'knowledgehub/vendor/datatables/dataTables.css' %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% resource 'knowledgehub/javascript/modules/data_transformation.js' %}
  {% resource 'knowledgehub/javascript/modules/chart.js' %}
  {% resource 'knowledgehub/javascript/modules/table.js' %}
  {% resource 'knowledgehub/vendor/d3/d3.js' %}
  {% resource 'knowledgehub/vendor/c3/c3.js' %}
  {% resource 'knowledgehub/vendor/datatables/dataTables.js' %}
  {% resource 'knowledgehub/vendor/datatables/buttons.html5.js' %}
  {% resource 'knowledgehub/vendor/datatables/dataTables.buttons.js' %}
  {% resource 'knowledgehub/vendor/datatables/jszip.js' %}
  {% resource 'knowledgehub/vendor/datatables/pdfmake.js' %}
  {% resource 'knowledgehub/vendor/datatables/vfs_fonts.js' %}
  {% resource 'knowledgehub/vendor/nunjucks.js' %}
{% endblock -%}
