{% ckan_extends %}

{{ super() }}

{% block package_basic_fields_org %}
  {# if we have a default group then this wants remembering #}
  {% if data.group_id %}
  <input type="hidden" name="groups__0__id" value="{{ data.group_id }}" />
  {% endif %}

  {% set dataset_is_draft = data.get('state', 'draft').startswith('draft') or data.get('state', 'none') ==  'none' %}
  {% set dataset_has_organization = data.owner_org or data.group_id %}
  {% set organizations_available = h.organizations_available('create_dataset') %}
  {% set user_is_sysadmin = h.check_access('sysadmin') %}
  {% set show_organizations_selector = organizations_available %}
  {% set show_visibility_selector = dataset_has_organization or (organizations_available and (user_is_sysadmin or dataset_is_draft)) %}


  {{ form.input('short_title', id='field-short-title', label=_('Short Title'), placeholder=_('eg. A short title'), value=data.short_title, error=errors.short_title) }}
  {% block package_basic_fields_sensitivity %}
  {{ form.input('data_sensitivity', id='field-data-sensitivity', label=_('Data Sensitivity'), placeholder=_('eg. Yes'), value=data.data_sensitivity, error=errors.data_sensitivity) }}
  {% endblock %}




  {% block basic_fields_external_access %}
  {% set options = ['Not Available', 'Direct Access', 'Public Use', 'Licensed Use', 'Data Enclave', 'Open Access'] %}
  <div class="control-group">
    <label class="control-label" for="field-external-access">{{ _("External Access") }}</label>
    <div class="controls">
      <select id="field-external_access" name="external_access" data-module="autocomplete">
        {% for acc in options  %}
          <option value="{{ acc }}" {% if acc in data.get('external_access', []) %}selected="selected"{% endif %}>{{ acc }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  {% endblock %}  

  {% block package_basic_fields_original_id %}
  {{ form.input('original_id', id='field-data-original-id', label=_('Original ID'), placeholder=_('If the dataset already has an ID '), value=data.original_id, error=errors.original_id) }}
  {% endblock %}

  {% block package_basic_fields_date_range %}
  {{ form.input('date_range_start', id='field-date-range-start', label=_('Date Range Start'), placeholder=_('Date collection first date '), value=data.date_range_start, error=errors.date_range_start) }}
  {{ form.input('date_range_end', id='field-date-range-end', label=_('Date Range End'), placeholder=_('Date collection last date '), value=data.date_range_end, error=errors.date_range_end) }}
  {% endblock %}

  {% block package_basic_fields_unit_measurement %}
  {{ form.input('unit_of_measurement', id='field-unit-of-measurement', label=_('Unit of Measurement'), placeholder=_('Unit of measurement / observation for the dataset'), value=data.unit_of_measurement, error=errors.unit_of_measurement) }}
  {% endblock %}

  {% block basic_fields_sampling_procedure %}
  {% set options = ['Probability: Simple random', 'Probability: Systematic random', 'Probability: Stratified', 'Probability: Stratified: Proportional', 'Probability: Stratified: Disproportional', 'Probability: Cluster',
  'Probability: Cluster: Simple random', 'Probability: Cluster: Stratified random', 'Probability: Multistage', 'Non-probability', 'Non-probability: Availability',
  'Non-probability: Purposive', 'Non-probability: Quota', 'Non-probability: Respondent-assisted', 'Mixed probability and non-probability'] %}
  <div class="control-group">
    <label class="control-label" for="field-sampling-procedure">{{ _("Sampling Procedure") }}</label>
    <div class="controls">
      <select id="field-sampling-procedure" name="sampling_procedure" data-module="autocomplete" multiple=True>
        {% for opt in options  %}
          <option value="{{ opt }}" {% if opt in data.get('sampling_procedure', []) %}selected="selected"{% endif %}>{{ opt }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  {% endblock %}

  {% block basic_fields_operational_purpose_of_data %}
  {% set options = ['Participatory assessments', 'Baseline Household Survey', 'Rapid Needs Assessment', 'Protection Monitoring', 'Programme monitoring',
  'Population Data', 'Cartography, Infrastructure & GIS'] %}
  <div class="control-group">
    <label class="control-label" for="field-operational-purpose">{{ _("Operational Purpose of Data") }}</label>
    <div class="controls">
      <select id="field-operational-purpose" name="operational_purpose" data-module="autocomplete" multiple=True>
        {% for opt in options  %}
          <option value="{{ opt }}" {% if opt in data.get('operational_purpose', []) %}selected="selected"{% endif %}>{{ opt }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  {% endblock %}

  {% block basic_fields_archived %}
  {% set options = ['No', 'Yes'] %}
  <div class="control-group">
    <label class="control-label" for="field-archived">{{ _("Archived") }}</label>
    <div class="controls">
      <select id="field-archived" name="archived" data-module="autocomplete">
        {% for opt in options  %}
          <option value="{{ opt }}" {% if opt in data.get('archived', []) %}selected="selected"{% endif %}>{{ opt }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  {% endblock %}

  {% if show_organizations_selector and show_visibility_selector %}
  <div data-module="dataset-visibility">
    {% endif %}

    {% if show_organizations_selector %}
    {% set existing_org = data.owner_org or data.group_id %}
    <div class="form-group control-medium">
      <label for="field-organizations" class="control-label">{{ _('Functional Unit') }}</label>
      <div class="controls">
        <select id="field-organizations" name="owner_org" data-module="autocomplete">
          {% if h.check_config_permission('create_unowned_dataset') %}
          <option value="" {% if not selected_org and data.id %} selected="selected" {% endif %}>{{ _('No functional unit.') }}</option>
          {% endif %}
          {% for organization in organizations_available %}
          {# get out first org from users list only if there is not an existing org #}
          {% set selected_org = (existing_org and existing_org == organization.id) or (not existing_org and not data.id and organization.id == organizations_available[0].id) %}
          <option value="{{ organization.id }}" {% if selected_org %} selected="selected" {% endif %}>{{ organization.display_name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    {% endif %}

    {% if show_visibility_selector %}
    {% block package_metadata_fields_visibility %}
    <div class="form-group control-medium">
      <label for="field-private" class="control-label">{{ _('Visibility') }}</label>
      <div class="controls">
        <select id="field-private" name="private" class="form-control">
          {% for option in [('True', _('Private'))] %}
          <option value="{{ option[0] }}" {% if option[0] == data.private|trim %}selected="selected"{% endif %}>{{ option[1] }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    {% endblock %}
    {% endif %}

    {% if show_organizations_selector and show_visibility_selector %}
  </div>
  {% endif %}
  {% if data.id and h.check_access('package_delete', {'id': data.id}) and data.state != 'active' %}
  <div class="form-group control-medium">
    <label for="field-state" class="control-label">{{ _('State') }}</label>
    <div class="controls">
      <select class="form-control" id="field-state" name="state">
        <option value="active" {% if data.get('state', 'none') == 'active' %} selected="selected" {% endif %}>{{ _('Active') }}</option>
        <option value="deleted" {% if data.get('state', 'none') == 'deleted' %} selected="selected" {% endif %}>{{ _('Deleted') }}</option>
      </select>
    </div>
  </div>
  {% endif %}

  {% endblock %}

