{% ckan_extends %}

{% block package_metadata_fields %}
{% block package_metadata_author %}
    {{ form.input('author', label=_('Author'), id='field-author', placeholder=_('Joe Bloggs'), value=data.author, error=errors.author, classes=['control-medium']) }}
  {% endblock %}

{% block custom_fields %}

  <!-- {% block basic_fields_unit_supported %}
	{{ form.input('unit_supported', id='field-unit-supported', label=_('Unit Supported'), placeholder=_('e.g. Protection'), value=data.unit_supported, error=errors.unit_supported, classes=['control-full'], is_required=False) }}
  {% endblock %}

  {% block basic_fields_im_product_name %}
	{{ form.input('im_product_name', id='field-im-product-name', label=_('IM Product Name/Title'), placeholder=_('e.g. VAM - Food Security Analysis'), value=data.im_product_name, error=errors.im_product_name, classes=['control-full'], is_required=False) }}
  {% endblock %}

  {% block basic_fields_indicator_label %}
	{{ form.input('indicator_label', id='field-indicator-label', label=_('Indicator Label'), placeholder=_('e.g. Average price of carrots'), value=data.indicator_label, error=errors.indicator_label, classes=['control-full'], is_required=False) }}
  {% endblock %}

  {% block basic_fields_indicator_code %}
	{{ form.input('indicator_code', id='field-indicator-code', label=_('Indicator Code'), placeholder=_('e.g. SYR-19-01'), value=data.indicator_code, error=errors.indicator_code, classes=['control-full'], is_required=False) }}
  {% endblock %}

  {% block basic_fields_indicator_old_name %}
	{{ form.input('indicator_old_name', id='field-ind-old-name', label=_('Indicator Old Name'), placeholder=_('e.g. '), value=data.indicator_old_name, error=errors.indicator_old_name, classes=['control-full'], is_required=False) }}
  {% endblock %}

  {% block basic_fields_unit_focal_point %}
	{{ form.input('unit_focal_point', id='field-unit-focal-point', label=_('Unit Focal Point'), placeholder=_('e.g. Secondary Data Review'), value=data.unit_focal_point, error=errors.unit_focal_point, classes=['control-full'], is_required=False) }}
  {% endblock %}

  {% block basic_fields_sector %}
	{{ form.input('sector', id='field-sector', label=_('Sector'), placeholder=_('e.g. Food security; Nutrition; Health'), value=data.sector, error=errors.sector, classes=['control-full'], is_required=False) }}
  {% endblock %}

  {% block basic_fields_data_sources %}
	{{ form.input('data_sources', id='field-data-sources', label=_('Data Sources'), placeholder=_('e.g. WFP on line VAM http://dataviz.vam.wfp.org/economic_explorer/prices?adm0=238'), value=data.data_sources, error=errors.data_sources, classes=['control-full'], is_required=False) }}
  {% endblock %}

  {% block basic_fields_frequency_of_update %}
	{{ form.input('frequency_of_update', id='field-freq-of-update', label=_('Frequency Of Update'), placeholder=_('e.g. Other'), value=data.frequency_of_update, error=errors.frequency_of_update, classes=['control-full'], is_required=False) }}
  {% endblock %}

  {% block basic_fields_analytical_value %}
	{{ form.input('analytical_value', id='field-analytical-value', label=_('Analytical Value'), placeholder=_('e.g. Risk'), value=data.analytical_value, error=errors.analytical_value, classes=['control-full'], is_required=False) }}
  {% endblock %}

  {% block basic_fields_indicator_type %}
	{{ form.input('indicator_type', id='field-ind-type', label=_('Indicator Type'), placeholder=_('e.g. Quantitative'), value=data.indicator_type, error=errors.indicator_type, classes=['control-full'], is_required=False) }}
  {% endblock %} -->

  {# Research question start #}
    {% set rq_options = h.get_rq_options() %}

    {% if data.research_question %}
      {% set selected_rq = h.rq_ids_to_titles(data.research_question) %}
    {% endif %}

    {{ form.selectmulti('research_question', label=_('Research question'), options=rq_options, selected=selected_rq, id='field-research_question', error=errors.research_question, attrs={"multiple": "multiple", "data-module": "autocomplete"}, classes=['control-medium']) }}

  {# Research question end #}

  {% endblock %}

{% endblock %}
