{% set truncate = truncate or 180 %} {% set truncate_title = truncate_title or
80 %} {% set title = dashboard.title or dashboard.name %} {% set notes =
h.markdown_extract(dashboard.description, extract_length=truncate) %} {% block
dashboard_item %}
<li class="component-item">
  {% block content %}
  <div class="component-content">
    {% block heading %}
    <h3 class="component-heading">
      {% block heading_title %}
      {{ h.link_to(h.truncate(title, truncate_title), h.url_for('dashboards.read', name=dashboard.name)) }}
      {% endblock %}
    </h3>
    {% endblock %} {% block notes %} {% if notes %}
    <div>{{ notes | urlize }}</div>
    {% else %}
    <p class="empty">{{ _('This dashboard has no description') }}</p>
    {% endif %} {% endblock %}
  </div>
  {% endblock %}
</li>
{% endblock %}
