{% set truncate = truncate or 180 %} {% set truncate_title = truncate_title or
190 %} {% set title = dashboard.title or dashboard.name %} {% set notes =
h.markdown_extract(dashboard.description, extract_length=truncate) %} {% block
dashboard_item %}
<div>
    <div class="dashboard-carousel-item">
      {% block content %}
      <div class="dashboard-carousel-content">
        {% block heading %}
        <h3 class="dashboard-carousel-heading text-ellipsis">
          {% block heading_title %}
          {{ h.link_to(h.truncate(title, truncate_title), h.url_for('dashboards.view', name=dashboard.name)) }}
          {% endblock %}
        </h3>
        {% endblock %} {% block notes %} {% if notes %}
        <div class="text-ellipsis">{{ notes | urlize }}</div>
        {% else %}
        <p class="empty">{{ _('This dashboard has no description') }}</p>
        {% endif %} {% endblock %}
        {% if h.check_access('dashboard_update') %}
            <a href="{{ h.url_for('dashboards.edit', name=dashboard.name) }}" title="{{ _('Manage') }}" class="dashboard-manage-icon">
                <i class="fa fa-wrench" aria-hidden="true"></i>
            </a>
        {% endif %}
      </div>
      {% endblock %}
    </div>
</div>
{% endblock %}
