{% resource 'knowledgehub/table' %}
{% resource 'knowledgehub/chart' %}
{% resource 'knowledgehub/map' %}
{% resource 'knowledgehub/javascript/resource_feedback.js' %}

{% ckan_extends %}

{% block resource_actions %}
  {{ super() }}
  
{% endblock %}
{% block resource_content %}
          {% block resource_read_title %}<h1 class="page-heading">{{ h.resource_display_name(res) | truncate(50) }}</h1>{% endblock %}
          {% block resource_read_url %}
            {% if res.url and h.is_url(res.url) %}
              <p class="text-muted ellipsis">{{ _('URL:') }} <a class="resource-url-analytics" href="{{ res.url }}" title="{{ res.url }}">{{ res.url }}</a></p>
            {% elif res.url %}
              <p class="text-muted break-word">{{ _('URL:') }} {{ res.url }}</p>
            {% endif %}
          {% endblock %}
          <div class="prose notes" property="rdfs:label">
            {% if res.description %}
              {{ h.render_markdown(res.description) }}
            {% endif %}
            {% if not res.description and c.package.notes %}
              <h3>{{ _('From the dataset abstract') }}</h3>
              <blockquote>{{ h.markdown_extract(h.get_translated(c.package, 'notes')) }}</blockquote>
              <p>{% trans dataset=c.package.title, url=h.url_for(controller='package', action='read', id=c.package['name']) %}Source: <a href="{{ url }}">{{ dataset }}</a>{% endtrans %}
            {% endif %}
          </div>
            <div class="resource-feedback-actions">
              <div class="resource-feedback-group">
                <button id="btn-useful" class="btn btn-default" type="button">
                  <i class="fa fa-thumbs-up"></i>{{ _('Useful') }} <span id="count-useful"
                    class="badge">{{ h.resource_feedback_count('useful', res.id, res.package_id) }}</span>
                </button>
                <button id="btn-unuseful" class="btn btn-default" type="button">
                  <i class="fa fa-thumbs-down"></i>{{ _('Unuseful') }} <span id="count-unuseful"
                    class="badge">{{ h.resource_feedback_count('unuseful', res.id, res.package_id) }}</span>
                </button>
              </div>
              <div class="resource-feedback-group">
                <button id="btn-trusted" class="btn btn-default" type="button">
                  <i class="fa fa-check-circle-o"></i>{{ _('Trusted') }} <span id="count-trusted"
                    class="badge">{{ h.resource_feedback_count('trusted', res.id, res.package_id) }}</span>
                </button>
                <button id="btn-untrusted" class="btn btn-default" type="button">
                  <i class="fa fa-times-circle-o"></i>{{ _('Untrusted') }} <span id="count-untrusted"
                    class="badge">{{ h.resource_feedback_count('untrusted', res.id, res.package_id) }}</span>
                </button>
                <input id="resource" value="{{ res.id }}" type="hidden" />
                <input id="dataset" value="{{ res.package_id }}" type="hidden" />
              </div>
            </div>
          
        {% endblock %}

{% block resource_view_content %}
<div class="resource-view">
  {% set views_created = res.has_views %}
  {% if views_created %}
      {% for resource_view in resource_views %}
        {% if resource_view == current_resource_view %}
          {% if current_resource_view.view_type == 'chart' %}
            {% if resource_view and resource_view.__extras %}
              {% set colors = resource_view.__extras.color %}
              {% set chart_id = resource_view.__extras.id %}
              {% set x_axis = resource_view.__extras.x_axis %}
              {% set y_axis = resource_view.__extras.y_axis %}
              {% set chart_type = resource_view.__extras.type %}
              {% set chart_subtitle = resource_view.__extras.chart_subtitle %}
              {% set chart_description = resource_view.__extras.chart_description %}
              {% set show_legend = resource_view.__extras.show_legend %}
              {% set x_text_rotate = resource_view.__extras.x_text_rotate %}
              {% set x_text_multiline = resource_view.__extras.x_text_multiline %}
              {% set tooltip_name = resource_view.__extras.tooltip_name %}
              {% set data_format = resource_view.__extras.data_format %}
              {% set y_tick_format = resource_view.__extras.y_tick_format %}
              {% set chart_padding_left = resource_view.__extras.chart_padding_left %}
              {% set chart_padding_bottom = resource_view.__extras.chart_padding_bottom %}
              {% set padding_bottom = resource_view.__extras.padding_bottom %}
              {% set padding_top = resource_view.__extras.padding_top %}
              {% set tick_count = resource_view.__extras.tick_count %}
              {% set show_labels = resource_view.__extras.show_labels %}
              {% set y_label = resource_view.__extras.y_label %}
              {% set y_from_zero = resource_view.__extras.y_from_zero %}
              {% set data_sort = resource_view.__extras.sort %}
              {% set filters = resource_view.__extras.filters %}
              {% set category_name = resource_view.__extras.category_name %}
              {% set dynamic_reference_type = resource_view.__extras.dynamic_reference_type %}
              {% set dynamic_reference_factor = resource_view.__extras.dynamic_reference_factor %}
              {% set dynamic_reference_label = resource_view.__extras.dynamic_reference_label %}
              {% set sql_string = resource_view.__extras.sql_string %}
              {% set resource_id = resource_view.resource_id %}
              {% set chart_title = resource_view.title %}
            {% endif %}
            {% snippet 'ajax_snippets/chart_module.html',
                type='chart',
                colors=colors,
                chart_id = chart_id,
                x_axis=x_axis,
                y_axis=y_axis,
                chart_type=chart_type,
                sql_string=sql_string,
                title=chart_title,
                chart_subtitle=chart_subtitle,
                chart_description=chart_description,
                show_legend = show_legend,
                x_text_rotate= x_text_rotate,
                x_text_multiline= x_text_multiline,
                tooltip_name = tooltip_name,
                data_format = data_format,
                y_tick_format = y_tick_format,
                chart_padding_left = chart_padding_left,
                chart_padding_bottom = chart_padding_bottom,
                padding_bottom = padding_bottom,
                padding_top = padding_top,
                tick_count = tick_count,
                show_labels = show_labels,
                y_label = y_label,
                y_from_zero = y_from_zero,
                data_sort = data_sort,
                filters = filters,
                category_name=category_name,
                measure_label=measure_label,
                dynamic_reference_type=dynamic_reference_type,
                dynamic_reference_factor=dynamic_reference_factor,
                dynamic_reference_label=dynamic_reference_label %}
              {% snippet 'ajax_snippets/visual_info_module.html',
              title = chart_title,
              resource_id = resource_id %}

          {% elif current_resource_view.view_type == 'table'  %}

              {% if resource_view and resource_view.__extras %}
                {% set main_value = resource_view.__extras.main_value %}
                {% set y_axis = resource_view.__extras.y_axis %}
                {% set sql_string = resource_view.__extras.sql_string %}
                {% set category_name = resource_view.__extras.category_name %}
                {% set data_format = resource_view.__extras.data_format %}
                {% set data_type = resource_view.__extras.data_type %}
                {% set table_title = resource_view.title %}
                {% set resource_name = resource_view.__extras.resource_name %}
                {% set resource_id = resource_view.resource_id %}
              {% endif %}
                {% snippet 'ajax_snippets/table_module.html',
                  sql_string = sql_string,
                  resource_id = resource_id,
                  resource_name = resource_name,
                  y_axis = y_axis,
                  main_value = main_value,
                  category_name = category_name,
                  data_format = data_format,
                  data_type = data_type,
                  table_title = table_title %}
                {% snippet 'ajax_snippets/visual_info_module.html',
                  title = table_title,
                  resource_id = resource_id %}

          {% elif current_resource_view.view_type == 'map'  %}

              {% if resource_view and resource_view.__extras %}
                {% set map_subtitle=resource_view.__extras.map_subtitle %}
                {% set map_description=resource_view.__extras.map_description %}
                {% set map_resource=resource_view.__extras.map_resource %}
                {% set map_key_field=resource_view.__extras.map_key_field %}
                {% set data_key_field=resource_view.__extras.data_key_field %}
                {% set data_value_field=resource_view.__extras.data_value_field %}
                {% set sql_string=resource_view.__extras.sql_string %}
                {% set resource_id = resource_view.resource_id %}
                {% set map_title = resource_view.title %}
              {% endif %}
                {% set map_config = h.knowledgehub_get_map_config() %}
                {% snippet 'ajax_snippets/map_module.html',
                  map_title=map_title,
                  map_subtitle=map_subtitle,
                  map_description=map_description,
                  map_config=map_config,
                  map_key_field=map_key_field,
                  data_key_field=data_key_field,
                  data_value_field=data_value_field,
                  sql_string=sql_string,
                  map_resource=map_resource %}

                {% snippet 'ajax_snippets/visual_info_module.html',
                  title = map_title,
                  resource_id = resource_id %}

          {% else %}

              {% snippet 'package/snippets/resource_view.html',
                 resource_view=resource_view,
                 resource=c.resource,
                 package=c.package %}


          {% endif %}

        {% endif %}
      {% endfor %}
  {% else %}
    {# Views not created #}
    <div class="data-viewer-info">
      <p>{{ _("There are no views created for this resource yet.") }}</p>
      {% if h.check_access('resource_view_create', {'resource_id': c.resource.id}) %}
        <p class="text-muted">
          <i class="fa fa-info-circle"></i>
          {{ _("Not seeing the views you were expecting?")}}
          <a href="javascript:void(0);" data-toggle="collapse" data-target="#data-view-info">
            {{ _('Click here for more information.') }}</a>
        </p>
       
        <div id="data-view-info" class="collapse">
          <p>{{ _('Here are some reasons you may not be seeing expected views:') }}</p>
          <ul>
            <li>{{ _("No view has been created that is suitable for this resource")}}</li>
            <li>{{ _("The site administrators may not have enabled the relevant view plugins")}}</li>
            <li>{{ _("If a view requires the DataStore, the DataStore plugin may not be enabled, or the data may not have been pushed to the DataStore, or the DataStore hasn't finished processing the data yet")}}</li>
          </ul>
        </div>
      {% endif %}
    </div>
  {% endif %}
</div>
{% endblock %}

{% block primary_content %}

  {{ super() }}
  {{ h.disqus_comments() }}
{% endblock %}
