{% ckan_extends %}
{{ super() }}
{% block info %}
      <div class="module module-narrow module-shallow context-info">
        {% if has_context_title %}
          <h2 class="module-heading"><i class="fa fa-building-o"></i> {{ _('Functional Unit') }}</h2>
        {% endif %}
    {% block description %}
    {% if organization.description %}
      <p>
        {{ h.markdown_extract(organization.description, 180) }}
        {% link_for _('read more'), controller='organization', action='about', id=organization.name %}
      </p>
    {% else %}
      <p class="empty">{{ _('There is no description for this functional unit') }}</p>
    {% endif %}
    {% endblock %}
{% endblock %}