{#
Displays a single of dataset.

package        - A package to display.
item_class     - The class name to use on the list item.
hide_resources - If true hides the resources (default: false).
banner         - If true displays a popular banner (default: false).
truncate       - The length to trucate the description to (default: 180)
truncate_title - The length to truncate the title to (default: 80).

Example:

  {% snippet 'snippets/package_item.html', package=c.datasets[0] %}

#}
{% set truncate = truncate or 180 %}
{% set truncate_title = truncate_title or 80 %}
{% set title = package.title or package.name %}
{% set notes = h.markdown_extract(package.notes, extract_length=truncate) %}
{% set themes = h.get_theme_options() %}
{% set tags = h.get_facet_items_dict('tags', limit=5) %}
{% set theme = package.get('theme', None) %}
{% set sub_theme = package.get('sub_theme', None) %}
{% set research_question = package.get('research_question', None) %}

{% block package_item %}
  <li class="{{ item_class or "dataset-item" }}">
    {% block content %}
      <div class="dataset-content">
        {% block heading %}
          <h3 class="dataset-heading">
            {% block heading_private %}
              {% if package.private %}
                <span class="dataset-private label label-inverse">
                  <i class="fa fa-lock"></i>
                  {{ _('Private') }}
                </span>
              {% endif %}
            {% endblock %}
            {% block heading_title %}
              {{ h.link_to(h.truncate(title, truncate_title), h.url_for(package.type + '_read', controller='package', action='read', id=package.name)) }}
            {% endblock %}
            {% block heading_meta %}
              {% if package.get('state', '').startswith('draft') %}
                <span class="label label-info">{{ _('Draft') }}</span>
              {% elif package.get('state', '').startswith('deleted') %}
                <span class="label label-danger">{{ _('Deleted') }}</span>
              {% endif %}
              {{ h.popular('recent views', package.tracking_summary.recent, min=10) if package.tracking_summary }}
            {% endblock %}
          </h3>
        {% endblock %}
        {% block banner %}
          {% if banner %}
            <span class="banner">{{ _('Popular') }}</span>
          {% endif %}
        {% endblock %}
        {% block notes %}
          {% if notes %}
            <div>{{ notes|urlize }}</div>
          {% else %}
            <p class="empty">{{ _("This dataset has no description") }}</p>
          {% endif %}
        {% endblock %}
        {% block dataset_tags %}
        {% for tag in tags %}
            <a class="tag" href="{% url_for controller='package', action='search', tags=tag.name %}">{{ h.truncate(tag.display_name, 22) }}</a>
        {% endfor %}
        {% endblock %}
        {% block package_title %}
            {% if theme %}
              <div><b>Theme: </b> {{ theme }}</div>
            {% endif %}
 
            {% if sub_theme %}
            <div><b>Sub-Theme: </b> {{ sub_theme }}</div>
            {% endif %}

            {% if research_question %}
              <div><b>Research Questions: </b>
                {% if research_question.startswith('{') %}
                  {% for rq in h.pg_array_to_py_list(research_question) %}
                    <div id ="pkg_rq">
                      {{ rq }}
                    </div>
                  {% endfor %}
                  {% else %}
                  <div id ="pkg_rq">
                    {{ research_question }}
                  </div>
                {% endif %}
              </div>
            {% endif %}

            <p id="demo"></p>
        {% endblock %}

      </div>
      {% block resources %}
        {% if package.resources and not hide_resources %}
          {% block resources_outer %}
            <ul class="dataset-resources list-unstyled">
              {% block resources_inner %}
                {% for resource in h.dict_list_reduce(package.resources, 'format') %}
                <li>
                  <a href="{{ h.url_for(controller='package', action='read', id=package.name) }}" class="label label-default" data-format="{{ resource.lower() }}">{{ resource }}</a>
                </li>
                {% endfor %}
              {% endblock %}
            </ul>
          {% endblock %}
        {% endif %}
      {% endblock %}
    {% endblock %}
  </li>
{% endblock %}
