<style>
     .map-info {
         padding: 6px 8px;
         font: 14px/16px Arial, Helvetica, sans-serif;
         background: white;
         background: rgba(255,255,255,0.8);
         box-shadow: 0 0 15px rgba(0,0,0,0.2);
         border-radius: 5px;
     }
     .map-info h4 {
         margin: 0 0 5px;
         color: #777;
     }
     .feature-properties {
         height: 150px;
         overflow: auto;
         padding: 6px 8px;
         font: 14px/16px Arial, Helvetica, sans-serif;
         background: white;
         background: rgba(255,255,255,0.8);
         box-shadow: 0 0 15px rgba(0,0,0,0.2);
         border-radius: 5px;
     }
     .feature-properties h4 {
         margin: 0 0 5px;
         color: #777;
     }
</style>
<div id="knowledge_hub_map_module" class="item-content" style="min-height: 500px;" data-module="knowledgehub-map"
     data-module-map_config="{{ map_config }}"
     data-module-map_resource="{{ map_resource }}"
     data-module-map_key_field="{{ map_key_field }}"
     data-module-data_key_field="{{ data_key_field }}"
     data-module-data_value_field="{{ data_value_field }}"
     data-module-sql_string="{{ sql_string }}">
     Loading...
</div>