{% import "macros/form.html" as form %}

{{ form.input('db_name', id='field-db-name', label=_('DB Name'), placeholder=_('e.g. TestDB'), value=db_name, error=db_name_error, classes=['control-full'], is_required=True) }}

{{ form.input('host', id='field-host', label=_('Host'), placeholder=_('eg. localhost'), value=host, error=host_error, classes=['control-full'], is_required=True) }}

{{ form.input('port', id='field-port', label=_('Port'), placeholder=_('eg. 1433'), value=port, error=port_error, classes=['control-full'], is_required=True) }}

{{ form.input('username', id='field-username', label=_('Username'), placeholder=_('e.g. SA'), value=username, error=username_error, classes=['control-full'], is_required=True) }}

{{ form.input("password", id="field-password", label=_("Password"), type="password", placeholder="••••••••", value=dpassword, error=password_error, classes=["control-medium"], is_required=True) }}

{{ form.textarea('sql', id='field-sql', label=_('SQL Query'), placeholder=_('eg. SELECT * FROM table_name'), value=sql, error=sql_error, is_required=True) }}
