{% ckan_extends %}

{{ super() }}

{% block basic_fields %}
{{ form.input('title', label=_('Name'), id='field-name', placeholder=_('My Functional Unit'), value=data.title, error=errors.title, classes=['control-full'], attrs=attrs) }}
{{ form.markdown('description', label=_('Description'), id='field-description', placeholder=_('A little information about my functional unit...'), value=data.description, error=errors.description) }}
{% endblock %}

<div class="form-actions">
  {% block delete_button %}
    {% if h.check_access('organization_delete', {'id': data.id})  %}
      <a class="btn btn-danger pull-left" href="{% url_for controller='organization', action='delete', id=data.id %}" data-module="confirm-action" data-module-content="{{ _('Are you sure you want to delete this Functional Unit? Note*: Deleting cannot be performed while public or private datasets belong to this functional unit.') }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
    {% endif %}
  {% endblock %}
  <button class="btn btn-primary" name="save" type="submit">{% block save_text %}{{ _('Save Functional Unit') }}{% endblock %}</button>
</div>